/********************
**RESET
*********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

li {
    margin-right: 10px;
}

/********************
**UTILITIES
*********************/
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

.color-white {
    color: white;
}


/* FLEXANDO */
.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.wrap {
    flex-wrap: wrap;
}

.gap10 {
    gap: 10px;
}

.column {
    flex-direction: column;
}

/********************
**HEADER
*********************/
header {
    height: 60px;
    background-color: orangered;
    /* position: fixed; */
    width: 100%;

    /* DEBUG */
    margin-bottom: 50px;
}




/********************
**MAIN
*********************/


/********************
**FOOTER
*********************/

footer {
    height: 80px;
    width: 100%;
    margin-top: 50px;
}


/********************
**UNCOMMON
*********************/

.logo {
    max-width: 20%;
    margin-top: 5px;
}

.card {
    position: relative;

    /* DEBUG */
    /* background-color: yellow; */
    width: 300px;
    height: 500px;
    /* border: 2px solid black; */
}

.discount {
    background-color: red;
    position: absolute;
    bottom: 100px;

    
}

.nameplate {
    background-color: green;
    position: absolute;
    bottom: 100px;
    left: 45px;
}

button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
}